* {
  background-image: none;
  font-size: 40px;
  font-family: 
    Jetbrains Mono Nerd Font,
    monospace;
  font-weight: bold;
}

window {
  background-color: rgba(0,0,0,0);
}

button {
  margin: 20px;
  border-radius: 20px;
  color: #82aee8;
  border: solid 6px #82aee8;
  background: rgba(30, 30, 46, 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28%;
}

button:active,
button:focus,
button:hover {
  color: #e9a6fd;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
