private.conf
/home-config/*
!/home-config/Thunar/*
!/home-config/btop/*
!/home-config/cava/*
!/home-config/htop/*
!/home-config/hypr/*
!/home-config/kitty/*
!/home-config/quickshell/*
!/home-config/swayidle/*
!/home-config/swaylock/*
!/home-config/systemd/user/*
!/home-config/waybar/*
!/home-config/wlogout/*
!/home-config/wofi/*
!/home-config/xfce4/*
!/home-config/xsettingsd/*
!/home-config/pavicontrol.ini
!/home-config/starship.toml
