@define-color main-color #82aee8; 
@define-color green-color #a6e3a1;
@define-color pink-color #e9a6fd;
@define-color warning-color #f3a611;
@define-color red-color #f34646;
@define-color bg-color rgba(30, 30, 46, 100);

* {
  font-family: Jetbrains Mono Nerd Font, monospace;
  font-size: 24px;
}

/* Window */
#window {
  margin: 0px;
  border: solid 6px transparent; 
  border-top: none;
  border-radius: 0px 0px 20px 20px;
  background-color: @bg-color;
  background: 
    linear-gradient(to left, @bg-color, @bg-color) padding-box, 
    linear-gradient(to bottom, @main-color, @pink-color) border-box;
}

/* Inner Box */
#inner-box {
  margin: 10px;
  border: 0px solid rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  background-color: @bg-color;
}

/* Outer Box */
#outer-box {
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

/* Input */
#input {
  margin: 0px 25px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  color: @main-color;
  box-shadow: none;
  caret-color: @pink-color;
  border: solid 6px transparent;
  background: 
    linear-gradient(to left, @bg-color, @bg-color) padding-box, 
    linear-gradient(to bottom, @main-color, @pink-color) border-box;
}

#input image {
  border: none;
  color: @main-color;
}

#input image.left {
  margin-right: 10px;
}

#input image.right {
  -gtk-icon-transform: scaleX(0);
}

/* Text */
#text {
  margin: 5px 10px;
  border: 0px solid rgba(0, 0, 0, 0);
  color: @main-color;
}

#entry {
  background-color: @bg-color;
  outline: none;
}

#entry:selected #text {
  color: @pink-color;
}
